@import-normalize; /* https://github.com/facebook/create-react-app/releases/tag/v3.0.0 */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono:500');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}
